gradio==4.21.0
pydantic==2.5.3
fastapi==0.109.2
llama-index==0.10.55
llama-index-core==0.10.55
llama-index-agent-openai==0.2.7
llama-index-llms-mistralai==0.1.15
llama-index-readers-file==0.1.25
llama-index-tools-tavily-research==0.1.5
llama-index-embeddings-mistralai
requests
pypdf